:root{
  --blue: #1e90ff;
  --black: #000000;
}
body{

  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
}

h1{
  font-family: 'Sacramento', cursive;
  font-size:
  margin-top: 0;
}

h2{
  font-family: 'Montserrat', sans-serif;
}

h3{
  color: var(--blue);
  font-family: 'Montserrat', sans-serif;
}

.top-container{
  background-color: #E4F9F5;
  position: relative;
  padding-top: 100px;
}

.middle-container{
 margin-left: 150px;
 margin-right: 150px;
}

.bottom-container{

}

.top-cloud{
  right: 300px;
  position: absolute;
  top: 50px;
}

.bottom-cloud{
  bottom: 300px;
  left: 300px;
  position: absolute;
}
#skill-row{
margin:auto;
  display: flex;
  flex-direction: column;
align-items: stretch;
}
p.first column{
  border-style: dotted;
}
